* {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}
body { 
    font-size: 16px;
    color: #232323;

}
.mainTtlArea {
    background: url(/resources/pattern.webp) no-repeat;
    background-size:cover;
    padding: 10px;
    margin: 70px 0;
}
.mainTtlArea h1{
    font-size: 100px;
    text-align: center;
    color: khaki;
    font-weight: bold;
}

.subContent {
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}

.subContent h2{
    color: #fff;
    font-size: 32px;
}

.subContent h3{
    margin-bottom: 15px;
    font-size: 24px;
}

.subContent p:first-of-type{
    margin-bottom: 15px;
}
figure img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 0 15px;
}

.subContent p:last-of-type span{
    font-weight: bold;
    color: blue;
}

.subContentTtlIn {
    padding: 5px 0;
    margin-bottom: 25px;
}

.subContentTtlIn h2,
.subContentIn{
    width: 80%;
    margin: 0 auto;
}

.subContentTtlIn#sec1In {
    background-color: mediumspringgreen;

}
.subContentTtlIn#sec2In{
    background-color: lightcoral;
}

.subContentTtlIn#sec3In{
    background-color: skyblue;
}
